[[source]]
url = "https://artifactory.internal.granular.ag/artifactory/api/pypi/pypi-virtual/simple"
verify_ssl = true
name = "artifactory-virtual"

[dev-packages]
ipdb = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
mypy = "*"
black = "==19.10b0"
isort = "*"
bumpversion = "*"
bandit = "*"

[packages]
PyYAML = "*"
jsonpath-rw = "*"

# [pipenv]
# allow_prereleases = true
