/* Enables a scollbar when menu items are wider than planned */
/* It works */

.wy-menu-vertical {
  overflow-x: auto;
}

.wy-side-scroll {
  width: fit-content;
}


/* Adding arrow to collapsible */

summary {
  list-style: none;
}

details > summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: None;
}

summary::after {
  content: "";
  padding: 15px 10px 10px 10px;
  background: url(chevron-down-solid.svg) no-repeat;
  background-size: 18px;
  float: right;
}

details[open] summary:after {
  content: "";
  padding: 15px 10px 10px 10px;
  background: url(chevron-up-solid.svg) no-repeat;
  background-size: 18px;
  float: right;
}
